.select-form {
  background-color: #232323;
  color: white;
  font-size: 16px;
}

.select__label {
  opacity: 0.6;
  display: inline;
  margin-right: 30px;
  padding: 5px 0;
}

.select {
  display: inline-block;
  min-width: 120px;
  padding: 5px 20px;
  position: relative;
  cursor: pointer;
}

.select__selected {
  display: inline-block;
}

.dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 1;
  background-color: #232323;
}

.dropdown__item {
  padding: 5px 20px;
  white-space: nowrap;
}

.dropdown__item:hover {
  background-color: #F65261;
}