.header {
  min-height: 400px;
  background-color: #232323EA;
  background-image: url("../../../img/header_background.png");
  background-size: cover;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}
