.content {
  background-color: #232323;
  margin-top: 10px;
  height: 100%;
  padding: 0 60px 24px;
}

.movies_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 50px;
}