.label {
  color: #F65261;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin: 0 5px;
}

.validation-error {
  color: #F65261;
  font-size: 14px;
  padding-left: 5px;
  position: absolute;
  font-weight: 400;
}